.HomePage-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    background: rgb(0, 50, 0);
    flex-flow: column;
    position: relative;
}

.HomePage-Page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.HomePage-Page-SubContainer {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-one);
    background: var(--color-three);
    box-shadow: 2px 2px 5px var(--color-four);
    background: radial-gradient(circle, var(--color-two-transparent) 0%, var(--color-three-transparent) 100%);
    font-family: monospace;
    text-align: center;
    font-size: large;
    &.NavBar {
        width: 95vw;
        height: 10dvh;
        margin-bottom: 2dvh;
    }
    &.Title {
        width: 95vw;
        height: 84dvh;
        flex-flow: column;
        font-weight: bold;
    }
    &.Apps {
        width: 95vw;
        height: 95dvh;
        display: flex;
        flex-flow: column;
        .AppsDrawer {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
        }
    }
    &.LogIn {
        position: absolute;
        width: 95vw;
        height: 95dvh;
        .Title {
            font-size: 35px;
            font-weight: bold;
        }
        .SubTitle {
            font-size: smaller;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        .Error {
            background-color: rgb(100, 0, 0);
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

.HomePage-Page-SubContainer.Title {
    .BigTitle {
        line-height: 12vw;
        font-size: 14vw;
        color: transparent;
        font-family: sans-serif;
        font-weight: bolder;
        width: min-content;
        text-align: center;
        -webkit-text-stroke: 1px var(--color-one);
        text-shadow: -1px 0px 10px green;
        user-select: none;
        .BigWord {
            display: inline-flex;
        }
        .BigAlphabet {
            transition: color .8s ease-in;
        }
    }
    .Description {
        font-style: italic;
        margin: 20px;
        font-size: small;
    }
}

.HomePage-LogInPage {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 5dvh;
    width: 70%;
    .Section {
        width: 40%;
        min-width: 250px;
        display: flex;
        flex-flow: column;
        gap: 5px;
        justify-content: flex-start;
    }
    .FormElement {
        margin-top: 4dvh;
        margin-bottom: 4dvh;
    }
    .Label {
        font-size: large;
        font-weight: bolder;
        text-align: left;
        display: flex;
        align-items: center;
        height: 30px;
    }
    .Input {
        font-size: medium;
        width: 100%;
        font-family: math;
    }
    .Line {
        background-color: var(--color-five);
        width: 2px;
        height: 40%;
    }
    .Divider {
        display: inline-flex;
        justify-content: space-between;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin: 0 4vw;
        height: 100%;
    }
}

.HomePage-Background {
    width: 110vmax;
    height: 110vmax;
}

@media (max-width: 700px) {
    .HomePage-LogInPage {
        flex-flow: column;
        .Divider {
            margin-top: 2dvh;
            margin-bottom: 2dvh;
            width: 100%;
            flex-flow: row;
        }
        .Line {
            height: 2px;
            width: 40%;
        }
    }
}