:root {
    --color-one: #16db65;
    --color-two: #058c42;
    --color-three: #04471c;
    --color-four: #0d2818;
    --color-five: #020202;
    --color-two-transparent:rgba(5, 45, 15, 0.9);
    --color-three-transparent:rgba(10, 30, 15, 0.9);
}

html {
    body.green-theme {
        --color-one: #16db65;
        --color-two: #058c42;
        --color-three: #04471c;
        --color-four: #0d2818;
        --color-five: #020202;
        --color-four-transparent: #0d2818e0;
    }
    body.yellow-theme {
        --color-one: #34840d;
        --color-two: #7fb335;
        --color-three: #f3eff5;
        --color-four: #9af8bb;
        --color-five: #a8e6ac;
        --color-four-transparent: #9af8bbe0;
    }
}

body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  background: var(--color-one);
  width: 1vw;
  height: 1vh;
}
::-webkit-scrollbar-thumb {
  background: var(--color-two);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .App_Title {font-size: x-large}
}

* {
  box-sizing: border-box;
}